<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="navi" href="dados.html">DADOS</a></div>
			<div><a class="active" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="../static/imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>		
		<h1 class="blog">BLOG NEFRO-PEDIÁTRICO</h1>
		<h2 class="blog">INFORMAÇÕES SOBRE A DOENÇA RENAL</h2>
	<div class="body">
		<div class="cards">
			<a href="postblog.html" class="card-informacoes">
				<img src="../static/imagens/Rectangle 20.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Doença Renal Crônica na Infância</h3></div>
					<div class="card-informacoes_texto"><p>A “crença” de que a DRC é um problema exclusivo de adultos é absolutamente errônea. Em estudo feito no Brasil foram estimados 1.300 pacientes pediátricos em tratamento com diálise em 2012, o que resulta em uma frequência de 20 casos por milhão de indivíduos com idade compatível. [Ler mais]</p></div>
				</div>
			</a>
			<div class="card-informacoes">
				<img src="../static/imagens/Rectangle 10.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Causas da Doença Renal Crônica na Infância</h3></div>
					<div class="card-informacoes_texto"><p>Diferente dos adultos, as principais causas de DRC em crianças variam conforme a faixa etária. Nos menores de 5 anos são mais frequentes as malformações congênitas do trato urinário, principalmente rins displásicos e hipoplásicos e válvula de uretra posterior (VUP). [Ler mais]</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="../static/imagens/Rectangle 11.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Fatores de risco para a progressão da doença renal crônica</h3></div>
					<div class="card-informacoes_texto"><p>Alguns fatores de risco para progressão da DRC são determinados antes da apresentação clínica, outros são ativos durante o tratamento e portanto, passíveis de intervenção. Hipertensão Arterial, proteinúria, obesidade, exposição a medicações nefrotóxicas entre outras</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="../static/imagens/Rectangle 19.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Formas de Tratamento</h3></div>
					<div class="card-informacoes_texto"><p>Como a lesão renal crônica é progressiva e irreversível, é preciso recorrer a algum procedimento que substitua o trabalho dos rins, sendo este sugerido pelo médico Nefrologista de acordo com a doença, prognóstico, estabilidade clínica, idade, entre outros fatores. [Ler mais]</p></div>
				</div>
			</div>
		</div>
		<!-- cards depoimentos -->
		<h2 class="blog">DEPOIMENTOS</h2>
		<div class="cards">
			<div class="card-informacoes">
				<img src="../static/imagens/Rectangle 8.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="../static/imagens/Rectangle 10 (1).png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="../static/imagens/Rectangle 9.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="../static/imagens/Rectangle 11 (1).png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>