<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="navi" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="../static/imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<div class="body">
		<div class="login">
			<div>
				Nome:<br>
				<input type="text" name="nome" style="width: 408px; height: 30px; border-radius: 6px;">
			</div>
			<div>	
				CPF:<br>
				<input type="text" name="cpf" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div>	
				Telefone:<br>
				<input type="text" name="telefone" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div>	
				E-mail:<br>
				<input type="text" name="email" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div class="estado">
				<div>	
					Estado:<br>
					<input type="text" name="estado" style="width:112px; height: 30px; border-radius: 6px;">
				</div>
				<div>	
					Cidade:<br>
					<input type="text" name="cidade" style="width:206px; height: 30px; border-radius: 6px;">
				</div>
			</div>
			<div>
				Profissão:<br>
				<input type="text" name="profissao" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div>
				Grau de parentesco com o paciente:<br>
				<input type="text" name="profissao" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div>	
				Senha:<br>
				<input type="password" name="senha" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div>	
				Repetir senha:<br>
				<input type="password" name="senha" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div>
				Como chegou ao site?<br>
				<select name="como" style="width:408px; height: 30px; border-radius: 6px;">
  					<option value="internet">Internet</option>
  					<option value="redes_sociais">Redes Sociais</option>
  					<option value="amigo">Indicação de amigo</option>
  					<option value="profissional">Indicação profissional</option>
				</select>
			</div>
			<div><br>
				<a class="login_botao" href="">CADASTRAR</a>	
			</div>
		</div>	
	</div>
</body>
</html>