<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="active" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="../static/imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<div class="dados">
		<div class="coluna">
			<div><a class="item" href="">Número de Crianças em Diálise e Hemodiálise</a></div>
			<div><a class="item" href="">Número de Crianças Transplantadas</a></div>
			<div><a class="item" href="">Locais que possuem tratamento adequado</a></div>
			<div><a class="item" href="">Especialistas Nefrologista Pediatras por Região</a></div>
			<div><a class="item" href="">Incidência de Acometimento de Problemas Renais</a></div>
			<div><a class="item" href="">Politicas publicas voltadas para crianças doente renais</a></div>
			<div><a class="item" href="">Programas de prevenção e adesão ao tratamento específico</a></div>
			<div><a class="item" href="">Disponibilidade de Locais para estadia e moradia durante período de tratamento</a></div>
			<div><a class="item" href="">Benefícios assistenciais oferecidos pelo governo</a></div>
		</div>
	</div>
	<div>
		<div class="titulos">
			<div><h2><span>Número de Crianças em Diálise e Hemodiálise</span></h2></div>
			<div><h2><span>Número de Crianças Transplantadas</span></h2></div>
			<div><h2><span>Locais que possuem tratamento adequado</span></h2></div>
			<div><h2><span>Especialistas Nefrologista Pediatras por Região</span></h2></div>
			<table>
				<tr>
					<th>Região</th>
					<th>Quantidade de Especialistas</th>
				</tr>
				<tr>
					<tr>
						<td>Norte</td>
						<td>35</td>
					</tr>
					<tr>
						<td>Nordeste</td>
						<td>85</td>
					</tr>
					<tr>
						<td>Sudeste</td>
						<td>208</td>
					</tr>
					<tr>
						<td>Sul</td>
						<td>61</td>
					</tr>
					<tr>
						<td>Centro-Oeste</td>
						<td>57</td>
					</tr>
				</tr>
			</table>
			<div><h2><span>Incidência de Acometimento de Problemas Renais</span></h2></div>
			<div><h2><span>Politicas publicas voltadas para crianças doente renais</span></h2></div>
			<div><h2><span>Programas de prevenção e adesão ao tratamento específico</span></h2></div>
			<div><h2><span>Disponibilidade de Locais para estadia e moradia durante período de tratamento</span></h2></div>
			<div><h2><span>Benefícios assistenciais oferecidos pelo governo</span></h2></div>

			<h2>Referências</h2>
			<p>Estabelecimentos autorizados pela Coordenação-Geral do Sistema Nacional de Transplantes (CGSNT). Disponível em: https://app.powerbi.com/view?r=eyJrIjoiZDk2NmQ2OTYtMDJkYS00MzZmLWE4Y2QtNTgyZmI3OWViNzMzIiwidCI6IjMyMjU1NDBiLTAzNDMtNGI0Ny1iMzk2LTMxMTYxZTdiODMyMyJ9. Acesso em outubro/2023</p>
			<p>Revista Brasileira de Transplante. Disponível em: https://site.abto.org.br/conteudo/rbt/. Acesso em outubro/2023</p>
			<p>Painel de Monitoramento da Mortalidade CID-10/ DATASUS. Disponível em: https://svs.aids.gov.br/daent/centrais-de-conteudos/paineis-de-monitoramento/mortalidade/cid10/. Acesso e outubro/2023</p>
	
		</div>
	</div>
</body>
</html>