<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>

<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="active" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="../static/imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<div class="dados">
		<div class="coluna">
			<div><a class="item" href="#dado01">Número de Crianças em Diálise e Hemodiálise</a></div>
			<div><a class="item" href="#dado02">Número de Crianças Transplantadas</a></div>
			<div><a class="item" href="#dado03">Locais que possuem tratamento adequado</a></div>
			<div><a class="item" href="#dado04">Especialistas Nefrologista Pediatras por Região</a></div>
			<div><a class="item" href="#dado05">Incidência de Acometimento de Problemas Renais</a></div>
			<div><a class="item" href="#dado06">Politicas publicas voltadas para crianças doente renais</a></div>
			<div><a class="item" href="#dado07">Programas de prevenção e adesão ao tratamento específico</a></div>
			<div><a class="item" href="#dado08">Disponibilidade de Locais para estadia e moradia durante período de
					tratamento</a></div>
			<div><a class="item" href="#dado09">Benefícios assistenciais oferecidos pelo governo</a></div>
		</div>
	</div>
	<div>
		<div class="titulos">
			<div>
				<h2 id="dado01"><span>Número de Crianças em Diálise e Hemodiálise</span></h2>
			</div>
			<table>
				<tr>
					<th>Ano</th>
					<th>Número de Criança em Diálise</th>
					<th>Número de Criança em Hemodiálise</th>
				</tr>
				<tr>
					<td>2022</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2021</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2020</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2019</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2018</td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<div>
				<h2 id="dado02"><span>Número de Crianças Transplantadas</span></h2>
			</div>
			<table>
				<tr>
					<th>Ano</th>
					<th>Número de Crianças Transplantadas</th>
					<th>Taxa*</th>
				</tr>
				<tr>
					<td>2022</td>
					<td>265</td>
					<td>4,2</td>
				</tr>
				<tr>
					<td>2021</td>
					<td>307</td>
					<td>4,9</td>
				</tr>
				<tr>
					<td>2020</td>
					<td>242</td>
					<td>4,0</td>
				</tr>
				<tr>
					<td>2019</td>
					<td>310</td>
					<td>5,0</td>
				</tr>
				<tr>
					<td>2018</td>
					<td>326</td>
					<td>5,3</td>
				</tr>
			</table>
			*Por milhão de população pediátrica
			<div>
				<h2 id="dado03"><span>Locais que possuem tratamento adequado</span></h2>
			</div>
			<div>
				<h2 id="dado04"><span>Especialistas Nefrologista Pediatras por Região</span></h2>
			</div>
			<table>
				<tr>
					<th>Região</th>
					<th>Quantidade de Especialistas</th>
				</tr>
				<tr>
				<tr>
					<td>Norte</td>
					<td>35</td>
				</tr>
				<tr>
					<td>Nordeste</td>
					<td>85</td>
				</tr>
				<tr>
					<td>Sudeste</td>
					<td>208</td>
				</tr>
				<tr>
					<td>Sul</td>
					<td>61</td>
				</tr>
				<tr>
					<td>Centro-Oeste</td>
					<td>57</td>
				</tr>
				</tr>
			</table>
			<div>
				<h2 id="dado05"><span>Incidência de Acometimento de Problemas Renais</span></h2>
			</div>
			<div>
				<h2 id="dado06"><span>Politicas publicas voltadas para crianças doente renais</span></h2>
			</div>
			<div>
				<h2 id="dado07"><span>Programas de prevenção e adesão ao tratamento específico</span></h2>
			</div>
			<div>
				<h2 id="dado08"><span>Disponibilidade de Locais para estadia e moradia durante período de tratamento</span></h2>
			</div>
			<div>
				<h2 id="dado09"><span>Benefícios assistenciais oferecidos pelo governo</span></h2>
			</div>

			<h2>Referências</h2>
			<p>Revista Brasileira de Transplante. Disponível em: https://site.abto.org.br/conteudo/rbt/. Acesso em
				outubro/2023</p>
			<p>Busca por médicos no site do CFM. Disponível em: https://portal.cfm.org.br/busca-medicos/. Acesso
				e outubro/2023</p>

		</div>
	</div>
</body>

</html>