<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="active" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="../static/imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<div class="dados">
		<div class="coluna">
			<div><a class="item" href="">Número de Crianças em Diálise e Hemodiálise</a></div>
			<div><a class="item" href="">Número de Crianças Transplantadas</a></div>
			<div><a class="item" href="">Locais que possuem tratamento adequado</a></div>
		</div>
		<div class="coluna">
			<div><a class="item" href="">Especialistas Nefrologista Pediatras por Região</a></div>
			<div><a class="item" href="">Incidência de Acometimento de Problemas Renais</a></div>
			<div><a class="item" href="">Politicas publicas voltadas para crianças doente renais</a></div>
		</div>
	</div>
	<div class="body">
		<div class="titulos">
			<div><h2><span>Número de Clínicas e Hospitais de Hemodiálise</span></h2></div>
			<div><img src="../static/imagens/vvvvv 1.png"></div>
			<div><h2><span>Centros de Transplantes Renais Pediátrico </span></h2></div>
			<table>
				<tr>
					<th>Estados</th>
				</tr>
				<tr>
					<tr>
						<td>Minas Gerais</td>
						<td>HOSPITAL DAS CLINICAS SAMUEL LIBANIO POUSO ALEGRE</td>
					</tr>
					<tr>
						<td>Minas Gerais</td>
						<td>SANTA CASA DE MISERICORDIA DE BELO HORIZONTE</td>
					</tr>
					<tr>
						<td>Pará</td>
						<td>SANTA CASA DE MISERICORDIA DO PARA</td>
					</tr>
					<tr>
						<td>Paraná</td>
						<td>ASSOCIAÇÃO HOSPITALAR DE PROTEÇÃO A INFENCIA DR RAUL CARNEIRO-HOSPITAL PEQUENO PRINCIPE</td>
					</tr>
					<tr>
						<td>Pernambuco</td>
						<td>INSTITUTO DE MEDICINA INTEGRAL PROF FERNANDO FIGUEIRA-IMIP</td>
					</tr>
					<tr>
						<td>Pernambuco</td>
						<td>REAL HOSPITAL PORTUGUES</td>
					</tr>
					<tr>
						<td>Pernambuco</td>
						<td>HOSPITAL ASSOCIADOS DE PERNAMBUCO LTDA-HOSPITAL SANTA JOANA RECIFE</td>
					</tr>
					<tr>
						<td>São Paulo</td>
						<td>HOSPITAL SAMARITANO</td>
					</tr>
				</tr>
			</table>
			<div><h2><span>Número de Crianças em Hemodiálise</span></h2></div>
			<div><img src="../static/imagens/vvvvv 1.png"></div>
			<div><h2><span>Número de Crianças na Fila de Transplante Renal</span></h2></div>
			<table>
				<tr>
					<th>Estado</th>
					<th>Março 2023</th>
					<th>Junho 2023</th>
					<th>Março 2022</th>
					<th>Junho 2022</th>
					<th>Setembro 2022</th>
					<th>Dezembro 2022</th>
					<th>Março 2021</th>
					<th>Junho 2021</th>
					<th>Setembro 2021</th>
					<th>Dezembro 2021</th>
					<th>Março 2020</th>
					<th>Junho 2020</th>
					<th>Setembro 2020</th>
					<th>Dezembro 2020</th>
					<th>Março 2019</th>
					<th>Junho 2019</th>
					<th>Setembro 2019</th>
					<th>Dezembro 2019</th>
					<th>Março 2018</th>
					<th>Junho 2018</th>
					<th>Setembro 2018</th>
					<th>Dezembro 2018</th>
				</tr>
				<tr>
					<tr>
						<td>Acre</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Alagoas</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>3</td>
						<td>5</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Amazonas</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Bahia</td>
						<td>15</td>
						<td>20</td>
						<td>28</td>
						<td>21</td>
						<td>23</td>
						<td>23</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>18</td>
						<td>11</td>
						<td>11</td>
						<td>11</td>
						<td>11</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Ceará</td>
						<td>12</td>
						<td>13</td>
						<td>22</td>
						<td>10</td>
						<td>12</td>
						<td>13</td>
						<td>10</td>
						<td>14</td>
						<td>21</td>
						<td>21</td>
						<td>9</td>
						<td>10</td>
						<td>4</td>
						<td>7</td>
						<td>11</td>
						<td>16</td>
						<td>6</td>
						<td>11</td>
						<td>5</td>
						<td>10</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>Distrito Federal</td>
						<td>12</td>
						<td>8</td>
						<td>0</td>
						<td>13</td>
						<td>0</td>
						<td>8</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>6</td>
						<td>3</td>
						<td>2</td>
						<td>1</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>3</td>
						<td>3</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Espirito Santo</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>8</td>
						<td>6</td>
						<td>6</td>
						<td>7</td>
						<td>5</td>
						<td>7</td>
						<td>5</td>
						<td>9</td>
					</tr>
					<tr>
						<td>Goiás</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>0</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Maranhão</td>
						<td>3</td>
						<td>3</td>
						<td>33</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>6</td>
						<td>4</td>
						<td>5</td>
						<td>0</td>
						<td>4</td>
						<td>7</td>
						<td>6</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>4</td>
						<td>5</td>
						<td>3</td>
						<td>3</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Mato Grosso</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>2</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					 <tr>
						<td>Mato Grosso do Sul</td>
						<td>3</td>
						<td>1</td>
						<td>1</td>
						<td>2</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>2</td>
						<td>2</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Minas Gerais</td>
						<td>24</td>
						<td>145</td>
						<td>20</td>
						<td>21</td>
						<td>25</td>
						<td>32</td>
						<td>11</td>
						<td>8</td>
						<td>8</td>
						<td>8</td>
						<td>6</td>
						<td>12</td>
						<td>9</td>
						<td>7</td>
						<td>10</td>
						<td>11</td>
						<td>12</td>
						<td>12</td>
						<td>11</td>
						<td>11</td>
						<td>10</td>
						<td>9</td>
					</tr>
					<tr>
						<td>Pará</td>
						<td>25</td>
						<td>25</td>
						<td>20</td>
						<td>14</td>
						<td>0</td>
						<td>28</td>
						<td>0</td>
						<td>18</td>
						<td>26</td>
						<td>20</td>
						<td>13</td>
						<td>13</td>
						<td>14</td>
						<td>19</td>
						<td>0</td>
						<td>5</td>
						<td>10</td>
						<td>6</td>
						<td>5</td>
						<td>7</td>
						<td>3</td>
						<td>9</td>
					</tr>
					<tr>
						<td>Paraiba</td>
						<td>0</td>
						<td>0</td>
						<td>2</td>
						<td>3</td>
						<td>2</td>
						<td>2</td>
						<td>122</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>25</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Paraná</td>
						<td>12</td>
						<td>11</td>
						<td>10</td>
						<td>13</td>
						<td>3</td>
						<td>11</td>
						<td>11</td>
						<td>12</td>
						<td>10</td>
						<td>9</td>
						<td>18</td>
						<td>9</td>
						<td>10</td>
						<td>17</td>
						<td>0</td>
						<td>8</td>
						<td>16</td>
						<td>19</td>
						<td>13</td>
						<td>8</td>
						<td>9</td>
						<td>9</td>
					
					</tr>
					<tr>
						<td>Pernambuco</td>
						<td>19</td>
						<td>26</td>
						<td>20</td>
						<td>20</td>
						<td>20</td>
						<td>13</td>
						<td>8</td>
						<td>6</td>
						<td>16</td>
						<td>17</td>
						<td>17</td>
						<td>13</td>
						<td>90</td>
						<td>5</td>
						<td>7</td>
						<td>8</td>
						<td>8</td>
						<td>12</td>
						<td>9</td>
						<td>12</td>
						<td>11</td>
						<td>10</td>
					</tr>
					<tr>
						<td>Piauí</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>2</td>
						<td>2</td>
						<td>2</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Rio de Janeiro</td>
						<td>27</td>
						<td>20</td>
						<td>22</td>
						<td>20</td>
						<td>24</td>
						<td>26</td>
						<td>30</td>
						<td>16</td>
						<td>12</td>
						<td>21</td>
						<td>17</td>
						<td>15</td>
						<td>19</td>
						<td>23</td>
						<td>5</td>
						<td>8</td>
						<td>6</td>
						<td>12</td>
						<td>9</td>
						<td>16</td>
						<td>9</td>
						<td>5</td>
					</tr>
					<tr>
						<td>Rio Grande do Norte</td>
						<td>0</td>
						<td>3</td>
						<td>3</td>
						<td>1</td>
						<td>3</td>
						<td>6</td>
						<td>5</td>
						<td>5</td>
						<td>7</td>
						<td>7</td>
						<td>3</td>
						<td>0</td>
						<td>2</td>
						<td>3</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
						<td>2</td>
						<td>2</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Rio Grande do Sul</td>
						<td>33</td>
						<td>34</td>
						<td>20</td>
						<td>22</td>
						<td>24</td>
						<td>32</td>
						<td>21</td>
						<td>25</td>
						<td>22</td>
						<td>17</td>
						<td>13</td>
						<td>9</td>
						<td>16</td>
						<td>22</td>
						<td>20</td>
						<td>16</td>
						<td>11</td>
						<td>14</td>
						<td>21</td>
						<td>18</td>
						<td>18</td>
						<td>15</td>
			
					</tr>   
					<tr>
						<td>Rondônia</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Santa Catarina</td>
						<td>2</td>
						<td>2</td>
						<td>1</td>
						<td>17</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>3</td>
						<td>3</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>2</td>
						<td>5</td>
						<td>1</td>
						<td>2</td>
						<td>2</td>
						
					</tr>
					<tr>
						<td>São Paulo</td>
						<td>172</td>
						<td>178</td>
						<td>199</td>
						<td>205</td>
						<td>195</td>
						<td>183</td>
						<td>194</td>
						<td>189</td>
						<td>192</td>
						<td>188</td>
						<td>187</td>
						<td>190</td>
						<td>180</td>
						<td>213</td>
						<td>227</td>
						<td>231</td>
						<td>229</td>
						<td>208</td>
						<td>248</td>
						<td>269</td>
						<td>237</td>
						<td>219</td>
					</tr>
					<tr>
						<td>Sergipe</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Tocantins</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
				</tr>
			</table>			
			<div><h2><span>Número de Crianças em Tratamento Conservador</span></h2></div>
			<div><img src="../static/imagens/vvvvv 1.png"></div>
			<div><h2><span>Índice de Mortalidade de Crianças com DRC por Região</span></h2></div>
			<table>
				<tr>
					<th>Região</th>
					<th>2023</th>
					<th>2022</th>
					<th>2021</th>
					<th>2020</th>
					<th>2019</th>
					<th>2018</th>
				</tr>
				<tr>
					<tr>
						<td>Norte</td>
						<td>5</td>
						<td>9</td>
						<td>12</td>
						<td>11</td>
						<td>11</td>
						<td>8</td>
					</tr>
					<tr>
						<td>Nordeste</td>
						<td>6</td>
						<td>23</td>
						<td>21</td>
						<td>16</td>
						<td>14</td>
						<td>12</td>
					</tr>
					<tr>
						<td>Sudeste</td>
						<td>7</td>
						<td>20</td>
						<td>13</td>
						<td>10</td>
						<td>16</td>
						<td>29</td>
					</tr>
					<tr>
						<td>Sul</td>
						<td>0</td>
						<td>8</td>
						<td>7</td>
						<td>7</td>
						<td>12</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Centro-Oeste</td>
						<td>1</td>
						<td>6</td>
						<td>3</td>
						<td>2</td>
						<td>4</td>
						<td>6</td>
					</tr>
				</tr>
			</table>			
			<div><h2><span>Índice de Mortalidade de Crianças com DRC por Estado</span></h2></div>
			<table>
				<tr>
					<th>Estado</th>
					<th>2023</th>
					<th>2022</th>
					<th>2021</th>
					<th>2020</th>
					<th>2019</th>
					<th>2018</th>
				</tr>
				<tr>
					<tr>
						<td>Acre</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
					</tr>
					
					<tr>
						<td>Alagoas</td>
						<td>0</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Amapá</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Amazonas</td>
						<td>1</td>
						<td>1</td>
						<td>3</td>
						<td>2</td>
						<td>1</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Bahia</td>
						<td>1</td>
						<td>3</td>
						<td>8</td>
						<td>7</td>
						<td>4</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Ceará</td>
						<td>2</td>
						<td>4</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Distrito Federal</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Espirito Santo</td>
						<td>2</td>
						<td>2</td>
						<td>1</td>
						<td>1</td>
						<td>2</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Goiás</td>
						<td>1</td>
						<td>4</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Maranhão</td>
						<td>1</td>
						<td>2</td>
						<td>4</td>
						<td>3</td>
						<td>1</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Mato Grosso</td>
						<td>0</td>
						<td>1</td>
						<td>2</td>
						<td>1</td>
						<td>2</td>
						<td>4</td>
					</tr>
					 <tr>
						<td>Mato Grosso do Sul</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Minas Gerais</td>
						<td>1</td>
						<td>7</td>
						<td>2</td>
						<td>1</td>
						<td>3</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Pará</td>
						<td>3</td>
						<td>7</td>
						<td>6</td>
						<td>6</td>
						<td>6</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Paraiba</td>
						<td>1</td>
						<td>2</td>
						<td>4</td>
						<td>1</td>
						<td>2</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Paraná</td>
						<td>0</td>
						<td>3</td>
						<td>2</td>
						<td>4</td>
						<td>7</td>
						<td>1</td>        
					</tr>
					<tr>
						<td>Pernambuco</td>
						<td>0</td>
						<td>4</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Piauí</td>
						<td>1</td>
						<td>5</td>
						<td>1</td>
						<td>2</td>
						<td>2</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Rio de Janeiro</td>
						<td>2</td>
						<td>3</td>
						<td>2</td>
						<td>2</td>
						<td>5</td>
						<td>10</td>
					</tr>
					<tr>
						<td>Rio Grande do Norte</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Rio Grande do Sul</td>
						<td>0</td>
						<td>3</td>
						<td>3</td>
						<td>2</td>
						<td>1</td>
						<td>3</td>
					</tr> 
					<tr>
						<td>Roraima</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>0</td>
					</tr>  
					<tr>
						<td>Rondônia</td>
						<td>0</td>
						<td>1</td>
						<td>2</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Santa Catarina</td>
						<td>0</td>
						<td>2</td>
						<td>2</td>
						<td>1</td>
						<td>4</td>
						<td>0</td>            
					</tr>
					<tr>
						<td>São Paulo</td>
						<td>2</td>
						<td>8</td>
						<td>8</td>
						<td>6</td>
						<td>6</td>
						<td>15</td>
					</tr>
					<tr>
						<td>Sergipe</td>
						<td>0</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
						<td>1</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Tocantins</td>
						<td>1</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>2</td>
						<td>0</td>
					</tr>
				</tr>
			</table>			
		</div>
	</div>
</body>
</html>