<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<!-- menu -->
	<nav id="header">
		<div class="header_frame">
			<div><a class="active" href="home.html">HOME</a></div>
			<div><a class="navi" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<!-- card grande -->
	<div class="body">
		<div class="card-grande">
			<img src="imagens/Rectangle 6.png">
			<div class="card-grande_frame">
				<div class="card-grande_titulo"><h2>Título</h2></div>
				<div class="card-grande_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
			</div>
		</div>
		<!-- sobre nós -->
		<h1 align="center">Sobre nós</h1>
		<p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum. 33 sapiente veniam aut repellendus quam eos quas rerum ea vero maiores ad voluptatem assumenda ex commodi nihil.
		Non quasi quas qui magnam commodi et voluptatem eveniet eos eius alias. Est dolor tenetur et obcaecati esse sit ipsa pariatur. Ab dignissimos doloremque hic quibusdam ullam ex autem rerum ut quae sapiente. Id consectetur pariatur quo esse cupiditate a itaque ipsa non architecto fuga eum aliquam fugit id galisum praesentium.
		Et corrupti nulla sed omnis odit quo aspernatur impedit sed enim magnam est dolor veniam quo fugit explicabo ut consequatur fuga. Et unde sunt quo corrupti repudiandae qui eaque voluptas et odit dolores et alias rerum!</p>
		<!-- cards blog -->
		<h1 align="center">Blog</h1>
		<div class="cards">
			<div class="card-informacoes">
				<img src="imagens/Rectangle 20.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Título 2</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="imagens/Rectangle 20.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Título 2</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="imagens/Rectangle 20.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Título 2</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="imagens/Rectangle 20.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3 align="center">Título 2</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
		</div>
		<div class="cards">
			<div class="card-informacoes">
				<img src="imagens/Rectangle 8.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="imagens/Rectangle 8.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="imagens/Rectangle 8.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
			<div class="card-informacoes">
				<img src="imagens/Rectangle 8.png">
				<div class="card-informacoes_frame">
					<div class="card-informacoes_titulo"><h3>Criança:</h3></div>
					<div class="card-informacoes_titulo"><h3>Tutor:</h3></div>
					<div class="card-informacoes_texto"><p>Lorem ipsum dolor sit amet. Et officiis ratione ut quidem molestiae nam doloribus eligendi aut nulla cupiditate aut voluptatem voluptatem nam dolorem nulla rem sequi inventore! Ea illo delectus et suscipit corrupti ea voluptatem distinctio. Et quidem unde aut nihil nemo et rerum illo et dolores quisquam ab repellendus harum.</p></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>