<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="navi" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="active" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<div class="body">
		<div class="login">
			<div>
				E-mail:<br>
				<input type="text" name="email" style="width: 408px; height: 30px; border-radius: 6px;">
			</div>
			<div>	
				Senha:<br>
				<input type="password" name="senha" style="width:408px; height: 30px; border-radius: 6px;">
			</div>
			<div><br>
				<a class="login_botao" href="entrar.html">ENTRAR</a>
			</div>
			<div align="center">
			ou<br>
			<a class="login_cadastro" href="cadastro.html">Cadastre-se</a>
			</div>
		</div>
	</div>
</body>
</html>