<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="navi" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="../static/imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<div class="post">
		<div>
			<h2>Causas da Doença Renal Crônica na Infância</h2>
		</div>
		<div>
			<p>Diferente dos adultos, as principais causas de DRC em crianças variam conforme a faixa etária. Nos menores de 5 anos são mais frequentes as malformações congênitas do trato urinário, principalmente rins displásicos e hipoplásicos e válvula de uretra posterior (VUP). Nos escolares e adolescentes observamos as glomerulopatias, as uropatias (bexiga neurogênica, nefropatia do refluxo), as doenças hereditárias (nefronoftise, Alport, cistinose, doença renal policística) e as sequelas de doenças sistêmicas (lúpus eritematoso sistêmico, síndrome hemolítico urêmica, púrpura de Henoch Schoenlein e demais vasculites). Após os 12 anos de vida, as glomerulopatias são a principal causa, destacando-se a glomeruloesclerose segmentar e focal (GESF). No Brasil, um terço das crianças que iniciam diálise crônica apresentam causa indeterminada. (Sociedade brasileira de pediatria, Departamento Científico de Nefrologia, 2019-2021)</p>	
		</div>		
	</div>
</body>
</html>