<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="../static/css/style.css">
	<style>
  		@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
	</style>
</head>
<body>
	<nav id="header">
		<div class="header_frame">
			<div><a class="navi" href="home.html">HOME</a></div>
			<div><a class="navi" href="dados.html">DADOS</a></div>
			<div><a class="navi" href="blog.html">BLOG</a></div>
			<div><a class="navi" href="login.html">LOGIN</a></div>
			<div><a href=""><img src="../static/imagens/Pesquisa.svg"></a></div>
		</div>
	</nav>
	<div class="post">
		<div>
			<h2>Doença Renal Crônica na Infância</h2>
		</div>
		<div>
			<p>A “crença” de que a DRC é um problema exclusivo de adultos é absolutamente errônea. Em estudo feito no Brasil foram estimados 1.300 pacientes pediátricos em tratamento com diálise em 2012, o que resulta em uma frequência de 20 casos por milhão de indivíduos com idade compatível. Em 2016, o tema central do Dia Mundial do Rim, foi A prevenção da doença renal crônica começa na infância, destacando a importância de tal condição. (Sociedade brasileira de pediatra de SP)</p>	
		</div>		
	</div>
</body>
</html>